<h2>Select a Dev For Battle, {{name}}!</h2>
<form action="" id="selectDev">
    <input list="selectBattleDev" name="selectBattleDev" id="devOptions" placeholder="Choose your Dev!">
        <datalist id="selectBattleDev">
            {{#each Devs}}
            <option value="{{id}}">{{name}}</option>
            {{name}}
            {{/each}}
        </datalist>
    <button>Select This Dev</button>
</form>


<script src="/js/battleSetup.js"></script>