<h1>Select a Dev For Battle, {{name}}!</h1>
<form action="" id="selectDev">
    <label for="devOptions">Select A Dev</label>
    <input list="selectBattleDev" name="selectBattleDev" id="devOptions" placeholder="Choose your Dev!">
        <datalist id="selectBattleDev">
            {{#each Devs}}
            <option value={{id}}>{{name}}</option>
            {{name}}
            {{/each}}
        </datalist>
    <button id="startBattle">Battle</button>
</form>

<script src="/js/battleSetup.js"></script>