<h2>Create a New Dev</h2>
<form action="" id="createDev">
    <input type="text" name="createDevName" id="createDevName" placeholder="Insert Dev Name Here!">
    <input type="number" name="createDevAttack" id="createDevAttack" placeholder="Dev Attack Value">
    <input type="number" name="createDevSpeed" id="createDevSpeed" placeholder="Dev Speed Value">
    <input type="number" name="createDevHp" id="createDevHp" placeholder="Dev Healthpoints Value">
    <input list="devAlignmentOptions" id="createDevAlignment" name="createDevAlignment" placeholder="Dev Alignment">
    <datalist id="devAlignmentOptions">
        <option value="Front-End">Front-End</option>
        <option value="Back-End">Back-End</option>
    </datalist>
    <button>Create Dev</button>
</form>

<h2>Create a New Move For a Dev</h2>
<form action="" id="createMove">
    <input type="number" name="chooseDev" id="chooseDev" placeholder="Insert Your Dev's ID Number Here!">
    <input type="text" name="createMoveName" id="createMoveName" placeholder="Insert Move Name Here!">
    <input type="number" name="createMovePower" id="createMovePower" placeholder="Move Power Value">
    <input type="number" name="createMoveAccuracy" id="createMoveAccuracy" placeholder="Move Accuracy Value">
    <button>Create Move</button>
</form>

<script src="/js/dev.js"></script>