<h2>Signup</h2>
<form action="" id="createDev">
    <input type="text" name="createDevName" id="createDevName" placeholder="Insert Dev Name Here!">
    <input type="number" name="createDevAttack" id="createDevAttack" placeholder="Dev Attack Value">
    <input type="number" name="createDevSpeed" id="createDevSpeed" placeholder="Dev Speed Value">
    <input type="number" name="createDevHp" id="createDevHp" placeholder="Dev Healthpoints Value">
    <input list="createDevAlignment" name="createDevAlignment" placeholder="Dev Alignment">
    <datalist id="createDevAlignment">
        <option value="Front-End">Front-End</option>
        <option value="Back-End">Back-End</option>
    </datalist>
    <button>Create Dev</button>
</form>

<script src="/js/dev.js"></script>