<h1>Code Conflict: The Battle for Fullstack!</h1>
<ul class="homepage">
<li>In Code Conflict: The Battle for Fullstack, you take on the role as a manager for a team of Developers. Your goal is to fight for control over the "Fullstack," representing either the Front-End or Back-End side of development.</li>
<br>
<li>Create custom Devs with custom Moves, and assign them an alignment as either a Front-End or Back-End developer.</li>
</ul>


<h1>Future Updates:</h1>
<ul class="homepage">
<li>Market System/Shop: Players will win cookies upon winning battles, which they can use to buy items from the shop or from other players.</li>
<br>
<li>Complex Move Creation: Moves can have "custom" special effects based on a set of premade effects.</li>
</ul>