<h2>Login</h2>
<form action="" id="login">
    <input type="text" name="loginEmail" id="loginEmail" placeholder="loginEmail">
    <input type="password" name="loginPassword" id="loginPassword" placeholder="loginPassword">
    <button>Login</button>
</form>
<hr>
<h2>Signup</h2>
<form action="" id="signup">
    <input type="text" name="signupEmail" id="signupEmail" placeholder="signupEmail">
    <input type="text" name="signupName" id="signupName" placeholder="signupName">
    <input type="password" name="signupPassword" id="signupPassword" placeholder="signupPassword">
    <button>Signup</button>
</form>

<script src="/js/login.js"></script>